<div>Detail</div>
 
 <!-- <div [ngClass]="{'copied': copied}">
	<ul id="content">
		<li>
			<span>id : </span>
      <span>{{personne.id}}</span>
    </li>
    <li>
      <span>prenom : </span>
      <span>{{personne.prenom}}</span>
    </li>
    <li>
      <span>adresse : </span>
      <span>{{personne.adresse}}</span>
    </li>
     <li>
      <span>id : </span>
      <span>{{personne.id}}</span>
    </li>
    <li>
      <span>prenom : </span>
      <span>{{personne.prenom}}</span>
    </li>
    <li>
      <span>adresse : </span>
      <span>{{personne.adresse}}</span>
    </li>
  </ul>
</div>
<button (click) = "copy()">Copy</button> -->